* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  background: #222;
  color: #fff;
  /* border: 2px solid white; */
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* border: 2px solid rgb(255, 0, 0); */
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  align-items: center;
  text-align: center;
  /* border: 2px solid rgb(0, 175, 50); */
}

main > div {
  /* height: 80vh; */
  width: fit-content;
  /* background: red; */
  text-align: center;
  /* border: 2px solid white; */
}
